<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Recommendation System</title>
    <link rel="stylesheet" href="static/css/style.css" />
  </head>
  <body>
    <header>
      <h1>Movie Recommendation System</h1>
      <form id="searchForm">
        <input
          type="text"
          id="searchInput"
          placeholder="Search for a movie..."
        />
        <button class="button-85" role="button">Button</button>
      </form>
    </header>

    <main id="moviesContainer">
      <!-- Movie cards will be dynamically added here -->
    </main>

    <script src="scripts.js"></script>
  </body>
</html>
